---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
    <p>@ 8000ft deep in Mariana trench</p>
    <p>Contact via Mr. Octo</p>
</BaseLayout>
